@media (max-width: 767.98px) {
  /* =============================menu responsive======== */
  .main-menu {
    display: none;
  }
  .mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    font-size: 30px;
    text-decoration: none;
    margin-top: 20px;
    margin-top: 10px;
  }
  .m-bar .fas {
    color: #e02c6d;
  }
  .m-icon a {
    color: #e02c6d;
    text-decoration: none;
    text-transform: capitalize;
  }
  .m-cart .fas {
    color: #e02c6d;
  }
  /* =============================menu responsive======== */
  .journey {
    width: 100%;
  }
  .media {
    width: 100%;
  }
  .journey h1 {
    font-size: 30px;
  }
  .hero-section {
    flex-direction: column;
    margin-top: 25px;
  }
  .collections {
    grid-template-columns: repeat(1, 1fr);
  }
  .journey {
    margin-bottom: 36px;
    text-align: center;
    margin-top: 20px;
  }

  .media {
    width: 300px;
    height: auto;
  }
  .feature-product {
    flex-direction: column;
  }
  .feature-product-des h2 {
    font-size: 25px;
    margin-top: 20px;
  }
  .section-title {
    font-size: 20px;
    margin: 10px 0px 30px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /* =============================menu responsive======== */
  .main-menu {
    display: none;
  }
  .mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    font-size: 30px;
    text-decoration: none;
    margin-top: 20px;
    margin-top: 10px;
  }
  .m-bar .fas {
    color: #e02c6d;
  }
  .m-icon a {
    color: #e02c6d;
    text-decoration: none;
    text-transform: capitalize;
  }
  .m-cart .fas {
    color: #e02c6d;
  }
  /* =============================menu responsive======== */
  nav ul li {
    margin: 0 0px;
  }
  .hero-section {
    flex-direction: column;
  }
  .journey {
    width: 100%;
  }
  .media {
    width: 100%;
  }
  .collections {
    grid-template-columns: repeat(2, 1fr);
  }
  .journey {
    margin-bottom: 36px;
    text-align: center;
    margin-top: 20px;
  }

  .media {
    width: 300px;
    height: auto;
  }
  .feature-product {
    flex-direction: column;
  }
  .feature-product-des h2 {
    font-size: 25px;
    margin-top: 20px;
  }
  .section-title {
    font-size: 20px;
    margin: 10px 0px 30px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .main-menu {
    visibility: visible;
  }
  .mobile-menu {
    display: none;
  }
  nav ul li {
    margin: 0 0px;
  }
  .hero-section {
    flex-direction: column;
  }
  .collections {
    grid-template-columns: repeat(2, 1fr);
  }

  .journey {
    margin-bottom: 36px;
    text-align: center;
    margin-top: 20px;
  }

  .media {
    width: 300px;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .main-menu {
    visibility: visible;
  }
  .mobile-menu {
    display: none;
  }
  .hero-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
}
