/* common style */
body {
  font-family: sans-serif;
  background-color: #f3f1ff;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}
/* header style */
header {
  display: flex;
  justify-content: center;
  background-color: #35267c;
}
.header-section {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  align-items: center;
  margin-left: -28px;
}
.header-logo a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}
.header-logo img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.navbar {
  margin-right: -43px;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
nav ul li a {
  padding: 0px 20px;
  display: inline-block;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
}
nav ul li img {
  width: 56px;
  height: 56px;
}
/* top player style */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: #ffffff;
  width: 90%;
  padding: 30px;
  margin-top: 30px;
  border-radius: 8px;
}
.top-player {
  margin-bottom: 35px;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: -5px;
  margin-bottom: 25px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.sub-title {
  font-size: 16px;
}
.player img {
  width: 56px;
  height: 56px;
  margin-right: 16px;
}

/*************************** Blog Section style *****************************/
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
}
.blog {
  display: flex;
  align-items: center;
}
.blog img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-author {
  color: gray;
}
.blog-author a {
  color: #562eff;
  text-decoration: none;
}

/* course style */
.course-space {
  margin-bottom: 30px;
}
.course .course-banner img {
  width: 250px;
  height: 120px;
}
.course-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fas {
  font-size: 14px;
}
i.fas.fa-star.filled {
  color: #ffc014;
}
i.fas.fa-star.empty {
  color: #aeaeae;
}
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
}
.course-details {
  margin-right: 15px;
}
.course-details .time {
  color: red;
  background: #ff00002b;
  padding: 8px;
  border-radius: 45px;
}

@media only screen and (max-width: 667.9px) {
  .container {
    width: 100%;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .player {
    flex-direction: column;
    justify-content: center;
  }

  .blog {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
  }
  .courses {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .course {
    margin: 7px 0px;
  }

  .course img {
    margin-right: 23px;
    width: 100%;
  }
  p.course-suthor {
    padding: 0px;
    margin: 0px;
  }
}
@media (min-width: 668px) and (max-width: 991.98px) {
  .container {
    width: 100%;
  }
  .players {
    grid-template-columns: repeat(2, 1fr);
  }

  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .player {
    flex-direction: row;
    justify-content: center;
  }
  .course,
  .blog {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
  }
  .course {
    margin: 7px 0px;
  }

  .course img {
    margin-right: 23px;
    width: 100%;
  }
  p.course-suthor {
    padding: 0px;
    margin: 0px;
  }
}

.course,
.player,
.blog {
  box-shadow: rgb(0 0 250 / 6%) 0px 0px 0px 0px;
  padding: 20px;
  border-radius: 10px;
}
.course:hover,
.player:hover,
.blog:hover {
  box-shadow: 1px 1px 3px 1px rgb(0 0 250 / 20%);
  padding: 20px;
  border-radius: 10px;
}
img {
  width: 100%;
}
